{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    <div class="portfolio-container">
        <div class="row">
            {% for item in items %}
                <div class="col-xs-6">
                    <h4>{{ item.title }}</h4>
                    <img class="portfolio-img" src="{% static 'images/portfolio-bg.jpg' %}">
                    <p>{{ item.text|truncatechars:100 }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
