{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center"><strong>About me</strong></h2>
    <p class="post-summary">Sed bibendum venenatis mi, nec molestie risus posuere in. Duis id tellus vitae magna congue imperdiet eget ullamcorper magna.
        Cras hendrerit magna eget felis mollis, sed iaculis mi convallis. Nam eu molestie dui, in sollicitudin quam.
        Etiam dapibus, dolor at rutrum sollicitudin, dui quam egestas massa, accumsan posuere purus sapien vitae erat.
        Duis vel diam vitae arcu lacinia aliquet. Etiam fermentum, nisi eu condimentum accumsan, mauris dolor sagittis erat,
        vel dapibus orci diam in magna. Maecenas id massa euismod, congue ipsum at, mattis velit. Sed ultrices eget sem ac convallis.
        Cras scelerisque scelerisque mi. Sed semper mi orci. Sed non consequat tellus. Aenean metus metus, lacinia id metus sit amet,
        porttitor ornare erat. Etiam auctor metus eget lorem semper facilisis. Proin sit amet tellus sed ex rutrum rhoncus vitae ut lectus.
        Nunc ultricies, diam at semper volutpat, lectus arcu vulputate sem, nec lobortis nunc tortor nec mauris.</p>


{% endblock %}
